/* 
  Animation,
  @keyframes
*/

@keyframes example {
  0% {
    background-color: red;
    transform: translatex(0);
  }

  100% {
    background-color: yellow;
    transform: translatex(500px);
  }
}

.animated-box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  animation-name: example;
  /* Animation nomi */
  animation-duration: 4s;
  /* Animation davomiyligi */
  animation-iteration-count: infinite;
  /* Animation takrorlanish soni */
  animation-direction: alternate;
  /* Animation yo'nalishi */
  animation-timing-function: ease-in-out;
  /* Animation tezligi */
  animation-fill-mode: forwards;
  /* Animation tugagandan keyin oxirgi holatni saqlash */
  animation-delay: 2s;
  /* Animation kechikishi */
}