/* 
  Height and Width,
  Max-Height and Max-Width,
  Min-Height and Min-Width
*/

/* //////////////////////////////// Height and Width //////////////////////////////// */

/* Balandlik va Kenglik */

/* Balandlik va kenglikni o'rnatish uchun */
/* height va width xususiyatlaridan foydalanamiz. */
/* height - balandlik */
/* width - kenglik */
div {
  height: 200px;
  /* Balandlik */
  width: 200px;
  /* Kenglik */
  background-color: red;
}

/* //////////////////////////// Max-Height and Max-Width //////////////////////////// */
/* Maksimal Balandlik va Kenglik */
div {
  max-height: 300px;
  /* Maksimal Balandlik */
  max-width: 300px;
  /* Maksimal Kenglik */
  background-color: blue;
}

/* //////////////////////////// Min-Height and Min-Width //////////////////////////// */
/* Minimal Balandlik va Kenglik */
div {
  min-height: 100px;
  /* Minimal Balandlik */
  min-width: 100px;
  /* Minimal Kenglik */
  background-color: green;
}