/* 
Combinators,
Css Colors,
O'lchov birliklar,
*/

/*//////////////////////////////////////// Combinators  //////////////////////////////////////////////*/
/*
Descendant Selector
*/
div p {
  color: red;
}

/* Child Selector
*/
div>p {
  color: blue;
}

/* Adjacent Sibling Selector
*/
div+p {
  color: green;
}

/* General Sibling Selector
*/
div~p {
  color: yellow;
}

/*//////////////////////////////////////// Css Colors  //////////////////////////////////////////////*/
/*
Color Names
*/
p {
  color: red;
}

/* Hexadecimal Colors
*/
p {
  color: #ff0000;
}

/* RGB Colors
*/
p {
  color: rgb(255, 0, 0);
}

/* RGBA Colors
*/
p {
  color: rgba(255, 0, 0, 0.5);
}

/* HSL Colors
*/
p {
  color: hsl(0, 100%, 50%);
}

/* HSLA Colors
*/
p {
  color: hsla(0, 100%, 50%, 0.5);
}

/*//////////////////////////////////////// O'lchov birliklar  //////////////////////////////////////////////*/

/* 
  Absolute birliklar
  - px (pixels)
  - cm (centimeters)
  - mm (millimeters)
  - in (inches)
  - pt (points)
  - pc (picas)
*/

p {
  font-size: 16px;
  /* pixels */
  margin: 1cm;
  /* centimeters */
  padding: 10mm;
  /* millimeters */
}

/* 
  Relative birliklar
  - em (elementning font-size'iga nisbatan)
  - rem (root elementning font-size'iga nisbatan)
  - % (ota-onaning o'lchamiga nisbatan)
  - vw (viewport kengligi)
  - vh (viewport balandligi)
*/
h1 {
  font-size: 2em;
  /* elementning font-size'iga nisbatan */
}

h2 {
  font-size: 1.5rem;
  /* root elementning font-size'iga nisbatan */
}

p {
  width: 50%;
  /* ota-onaning o'lchamiga nisbatan */
}

div {
  width: 100vw;
  /* viewport kengligining 100% */
  height: 100vh;
  /* viewport balandligining 100% */
}